Defining Null and Alternative Hypothesis

H0: The weekly operating cost is $4,000 according to the theoretical model.

H1: The weekly operating cost is greater than $4,000 according to the restaurant owners' claim.

Identifing the type of Test

Sample mean = 3050

Therotical mean = 4000

Standard deviation = 125

sample size = 25

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
# Calculating t value

t =(3050-4000)/(125/np.sqrt(25))
t

-38.0

In [ ]:
# calculating P value

p = 1-stats.t.cdf(-38.0,24)
p

1.0

In [ ]:
a=0.05
if (p<a):
  print("Reject H0: The weekly operating cost is $4,000 according to the theoretical model.")
else:
  print("Accept H1: The weekly operating cost is greater than $4,000 according to the restaurant owners' claim.")

Accept H1: The weekly operating cost is greater than $4,000 according to the restaurant owners' claim.

p = 1.0

alpha = 0.05

if p<alpha , then reject H0

as, p is greater then alpha , so accept H1

Conclusion: The weekly operating cost is greater than $4,000 according to the restaurant owners' claim.